#red {
  color: red;
  font-weight: lighter;
}

#standout {
  font-weight: bold;
  font-style: italic;
}

p {
  color: grey;
}

.black {
  color: black;
}

.infoBox {
  background-color: aliceblue;
  width: 50%;
  float: right;
  position: relative;
  top: 50px;
  margin-top: 20px;
  border: dotted 0.5px grey;
  border-radius: 5px;
}

#intro {
  width: 50%;
  float: left;
}

#questions {
  clear: both;
  border-top: solid 1px #cccccc;
}

div {
  padding: 15px;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.underlined {
  text-decoration: underline;
}

table,
th,
td {
  border: solid 1px black;
}

#submitButton {
  margin-top: 25px;
  margin-bottom: 15px;
}

#validation-box {
  border: solid 1px grey;
  display: none;
}

#validation-message {
  font-style: italic;
  margin: 0;
}

.success-box {
  background-color: #addcb6;
  position: fixed;
  width: 300px;
  top: 50%;
  left: 50%;
  translate: transform(-50%, -50%);
}
